@model IEnumerable<NEWefficiencyTool.ModelsDB.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
