@model IEnumerable<NEWefficiencyTool.ModelsDB.EmployeeAvgEfficiency>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee Average Efficiencies</h1>

<p>
    <a asp-action="CreateEfficienciesView">Calculate Employee Efficiencies</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EfficiencyCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EfficiencyCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstLastName)
            </td>
            <td>
                @*Editing an employee average efficiency is not permitted*@
                @*<a asp-action="Edit" asp-route-id="@item.EmplEfficiencyId">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.EmplEfficiencyId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.EmplEfficiencyId">Delete</a> |
                <a asp-action="SendEfficiencies" asp-route-id="@item.EmplEfficiencyId">Send Efficiency to Employee</a>
            </td>
        </tr>
}
    </tbody>
</table>
